{# MODAL: MANUAL ENTRY #}
<dialog id="modal-edit">
  <article id="modal-edit-content" style="max-width: 700px; width: 100%;">
    <header>
      <a href="#close" aria-label="Close" class="close" onclick="closeModal('modal-edit')"></a>
      <h3>✏️ Edit Recipe</h3>
    </header>
    {% with
      form_action = form_action if form_action is defined else url_for('recipes.save_recipe'),
      recipe = recipe if (recipe is defined and recipe) else None,
      form_id = 'recipe-edit-form',
      is_modal = True
    %}
      {% include 'recipes/partials/_form.html' %}
    {% endwith %}
  </article>
</dialog>
