{# MODAL: MANUAL ENTRY #}
<dialog id="modal-manual">
  <article id="modal-manual-content" style="max-width: 700px; width: 100%;">
    <header>
      <a href="#close" aria-label="Close" class="close" onclick="closeModal('modal-manual')"></a>
      <h3>✏️ Create Recipe</h3>
    </header>
    {% with
      form_action = '/recipe/create',
      recipe = None,
      form_id = 'recipe-create-form',
      is_modal = True
    %}
      {% include 'recipes/partials/_form.html' %}
    {% endwith %}
  </article>
</dialog>
